<h1>Create Your Post</h1>

<form action="/posts" method="post">
  Post category: <select name="category">
    <option value=1>Apartments</option>
    <option value=2>For Sale</option>
    <option value=3>Personals</option>
    <option value=4>Jobs</option>
  </select><br><br>
  Your email: <input name="email"><br><br>
  Post title: <input name="title"><br><br>
  Price (if applicable): $<input name="price">.00<br><br>
  Post description: <textarea name="description"></textarea><br><br>
  <input type="submit" value="Create post">
</form>
